<form  [formGroup]="userform" (ngSubmit)="saveUser()">
  
  <!-- for department list --> 
  <div class="row">
    <div class="form-group">
      <label class="control-label">Role</label><span style="color: red">*</span>
      <p-dropdown formControlName="role"  [options]="roleList" [filter]="true" placeholder="Select a Role" [style]="{'width':'100%'}"></p-dropdown>
      <!-- fro validation -->
    <!-- <app-field-error-display [errorIcon]="false" [displayError]="isFieldValid('company')" errorMsg="Company is required"></app-field-error-display> -->
    </div>
  </div> 
  <!-- for faclulty List -->
  <div class="row">
    <div class="form-group">
      <label class="control-label">faculty</label><span style="color: red">*</span>
      <p-dropdown formControlName="faculty" #com  [options]="facultyList" [filter]="true" optionLabel="name" placeholder="Select a faculty" [style]="{'width':'100%'}"></p-dropdown>
      <!-- fro validation -->
    <!-- <app-field-error-display [errorIcon]="false" [displayError]="isFieldValid('company')" errorMsg="Company is required"></app-field-error-display> -->
    </div>
  </div>

  <!-- for department list --> 
  <div class="row">
    <div class="form-group">
      <label class="control-label">department</label><span style="color: red">*</span>
      <p-dropdown formControlName="department" #com  [options]="departmentList" [filter]="true" optionLabel="name" placeholder="Select a department" [style]="{'width':'100%'}"></p-dropdown>
      <!-- fro validation -->
    <!-- <app-field-error-display [errorIcon]="false" [displayError]="isFieldValid('company')" errorMsg="Company is required"></app-field-error-display> -->
    </div>
  </div>

  <div class="row">
    <div class="form-group">
    <label class="col-sm-3 control-label" for="form-control-1">Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
    </div>
  </div>
  </div>

  <div class="row">
    <div class="form-group">
    <label class="col-sm-3 control-label" for="form-control-1">Email</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="email" placeholder="Enter email">
    </div>
  </div>
  </div>

  <div class="row">
    <label class="col-sm-3 control-label" for="form-control-1">phone Number</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Enter Phone Number">
    </div>
  </div>


<button type="submit" class="btn btn-space btn-success"><i class="icon icon-left mdi mdi-check"></i>Submit</button>                          
</form>