<form  [formGroup]="courseForm" (ngSubmit)="saveCourse()">

  
  <div class="row">
    <div  class=" col-lg-3 col-md-4 col-sm-12 form-group">
      <label class="control-label">degree program</label><span style="color: red">*</span>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
      <p-dropdown formControlName="degreePro"   [options]="degreeProgramList" [filter]="true" optionLabel="name" placeholder="Select a Lecture" [style]="{'width':'100%'}" [ngClass]="{ 'is-invalid': submitted && f.degreePro.errors }"></p-dropdown>
      <div *ngIf="submitted && f.degreePro.errors" class="invalid-feedback">
        <div *ngIf="f.degreePro.errors.required">Degree program is required</div>
      </div>
    </div>      
  </div>


  <div class="row">
    <div  class=" col-lg-3 col-md-4 col-sm-12 form-group">
      <label class="control-label">Lecture</label><span style="color: red">*</span>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
      <p-dropdown formControlName="user"   [options]="lectureList" [filter]="true" optionLabel="name" placeholder="Select a Lecture" [style]="{'width':'100%'}" [ngClass]="{ 'is-invalid': submitted && f.user.errors }"></p-dropdown>
      <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
        <div *ngIf="f.user.errors.required">Lecture is required</div>
      </div>
    </div>      
  </div>



  <div class="row">
    <div  class=" col-lg-3 col-md-4 col-sm-12 form-group">
      <label class="control-label" for="form-control-1">Course Code </label><span style="color: red">*</span>
    </div>    
    <div class="col-lg-9 col-md-8 col-sm-12">
      <input type="text" class="form-control" formControlName="courseCode" placeholder="Enter Course Code" [ngClass]="{ 'is-invalid': submitted && f.courseCode.errors }">
      <div *ngIf="submitted && f.courseCode.errors" class="invalid-feedback">
        <div *ngIf="f.courseCode.errors.required">Lecture is required</div>
      </div>
    </div>      
  </div>
         
  
 

  <div class="row">
    <div  class=" col-lg-3 col-md-4 col-sm-12 form-group">
      <label class="control-label" for="form-control-1">Course Name </label><span style="color: red">*</span>
    </div>    
    <div class="col-lg-9 col-md-8 col-sm-12">
      <input type="text" class="form-control" formControlName="name" placeholder="Enter name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>
  </div>

<button type="submit" class="btn btn-space btn-success"><i class="icon icon-left mdi mdi-check"></i>Submit</button>                          
</form>