

/********** 3. HEADER STYLES **********/
/**************************************/

.headerwrapper {
    background-color: #5d040d;
    min-height: 60px;
    width: 100%;
    z-index: 1000;
    &:after {
        clear: both;
        display: block;
        content: '';
    }
}
.header-left {
    float: left;
    
}

.header-right {
    float: right;
    h1,h2,h3{
        color:white;
        font-weight: bold;
    }
}

a.btn.btn-social-icon.btn-github {
    color: #fff;
    border: 1px solid #fff;
    margin: 10px;
}