<header>
    <div class="headerwrapper">
        <div class="row navbar">
                <div class=" col-lg-4 col-md-4 header-left ">
                        <img src="/assets/images/logo2.jpg" class="logo" />
                    </div>
                    <div class="col-lg-8 col-md-8 header-right">
                        <h1>Department of Computing and Information System</h1>
                        <h2>Faculty of Applied Sciences</h2>
                        <h3>Sabaragamuwa University of Sri Lanka</h3>
                        <!-- <a class="btn btn-social-icon btn-github hidden-sm-down" href="https://github.com/ssunils/angularadmin" target="_blank"><i class="fa fa-github"></i> DOWNLOAD</a> -->
                    </div><!-- header-right -->
        </div><!-- navbar-->
    </div><!-- headerwrapper -->
</header>
